doctype html
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario 
            h1 Iniciar sesi칩n en Uptask 
        
            if error 
                .alerta.error= error
            
            form#formulario.caja.caja-login(method="POST" action="/iniciar-sesion")
                .campo 
                    label(for="email") Email: 
                    input(type="email" name="email" placeholder="Tu email" value= email)
                .campo
                    label(for="password") Contrase침a: 
                    input(type="password" name="password" placeholder="Tu contrase침a" value= password)
                .campo.enviar 
                    input.boton(type="submit" value="Iniciar Sesi칩n")
                .campo 
                    a(href="/crear-cuenta") Crear una Cuenta
        